
#chat{
    position: fixed;
    bottom: 0;
    right: 250px;
    padding: 2px 10px;
    border: 1px solid #aaa;
    border-radius: 5px;
    background: #e2e2e2;
    display: none;
}
#chat .ct-big{
}
#chat .ct-title{
    position: relative;
    width: 293px;
    height: 14px;
}
#chat .ct-tip{
}

#chat ul.ct-msglt{
    height: 160px;
    margin: 0 0 5px;
    overflow-y: scroll;
    list-style: none;
}
#chat ul.ct-msglt li{
    display: block;
    width: 337px;
    overflow: hidden;
}
#chat ul.ct-msglt li:nth-child(odd){
    background: #d2d2d2;
}
#chat .ct-contact{
    width: 100px;
}
#chat .ct-msg{
    
}
#chat .ct-send{
    
}
#chat span.ct-btn{
    float: right;
    display: block;
    width: 14px;
    height: 14px;
    border: 1px solid #000;
    border-radius: 7px;
    color: #fff;
    background: #000;
}
