.hide{
    display: none;
}

#main {
    position: relative;
    top: 60px;
}
#main > .slides, #main .alert-message {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
}

#main .login {
    width: 530px;
    margin: 50px auto;
}

#main .actions {
    padding-left: 0;
    text-align: center;
}

#main .actions .btn{
    margin-left: 40px;
}

#main > .slides > .slide {
    
}

.red{
    color: red;
}
.total-size{
    float: right;
    line-height: 34px;
}

.drop-area {
    border: 2px dashed #DDDDDD;
    height: 50px;
    width: 260px;
    margin-bottom: 2em;
    padding: 10px;
    text-align: center;
}
.drop-over{
    background: yellow;
}
.file-list li{
    width: 60px;
    height: 100px;
    list-style: none;
    float: left;
    border: 1px dashed #aaa;
    margin: 0 5px 0 0;
    cursor: pointer;
}
.file-list img{
    position: absolute;
}
.file-list .delete{
    position: relative;
    left: -5px;
    top: -5px;
    width: 20px;
    height: 20px;
    display: none;
    background: #000;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
}
.file-list .opacity{
    opacity: 0.2;
}
