body{
    background: #F2F2F2;
    color: #2E3037;
    font-family: "微软雅黑", Arial, Helvetica, sans-serif;
}
body a{
    text-decoration: none;
}
body a:visited, body a:hover, body a:focus{
    text-decoration: none;
}
header, .body, footer{
    width: 900px;
    margin: 0 auto;
    position: relative;
}
header{
    height: 60px;
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
    background: -webkit-linear-gradient(top, #f2f2f2, #CACACA);   
    background:    -moz-linear-gradient(top, #f2f2f2, #CACACA);   
    background:     -ms-linear-gradient(top, #f2f2f2, #CACACA);   
    background:      -o-linear-gradient(top, #f2f2f2, #CACACA);   
    background:         linear-gradient(top, #f2f2f2, #CACACA);
    background: url(/images/header-bg.png) repeat-x\9;
    *background:url(/images/header-bg.png) repeat-x;
}
#logo{
    float: left;
}
#menu{
    float: right;
    list-style: none;
    margin: 0 20px 0 0;
}
#menu li{
    float: left;
    padding: 21px;
    margin: 0 5px 0 0;
}
#menu li.active, #menu li:hover{
    border-radius: 5px 5px 0 0;
    background: -webkit-linear-gradient(top, #222, #444, #666, #888, #F2F2F2);   
    background:    -moz-linear-gradient(top, #222, #444, #666, #888, #F2F2F2);   
    background:     -ms-linear-gradient(top, #222, #444, #666, #888, #F2F2F2);   
    background:      -o-linear-gradient(top, #222, #444, #666, #888, #F2F2F2);   
    background:         linear-gradient(top, #222, #444, #666, #888, #F2F2F2);
    background: url(/images/menu-bg.png) repeat-x\9;
    *background:url(/images/menu-bg.png) repeat-x;
}
#menu li a{
    color: #555;
}
#menu li.active a, #menu li:hover a{
    color: #FFF;
}
#slideshow{
    position: relative;
    margin: 0;
    padding: 0;
}
#slideshow li{
    list-style: none;
    margin-left: 0;
}
#slideshow .featimg{
    width: 500px;
    height: 500px;
    float: left;
}
#slideshow .pre{
    position: absolute;
    top: 200px;
    width: 150px;
    height: 250px;
    opacity: 0.5;
    z-index: 1;
}
#slideshow .img{
    position: absolute;
    left: 100px;
    width: 300px;
    height: 500px;
    z-index: 2;
}
#slideshow .post{
    position: absolute;
    top: 200px;
    left: 350px;
    width: 150px;
    height: 250px;
    opacity: 0.5;
    z-index: 1;
}
.feattxt{
    width: 335px;
    max-height: 330px;
    padding: 30px;
    overflow: hidden;
    float: left;
}
.feattxt p{
    font-size: 16px;
}
.featbtn{
    width: 335px;
    max-height: 100px;
    padding: 30px;
    overflow: hidden;
    float: left;
}
.clear {
    clear: both;
    display: block;
    height: 1px;
    overflow: hidden;
    width: 900px;
}
.footer{
    margin-top: 20px;
}
.copyright{
    width: 900px;
    font-size: 12px;
    font-family: arial;
    text-align: center;
}

.group{
    position: relative;
    width: 900px;
    height: 574px;
    margin: 20px 0 0 22px;
}
.group li{
    position: relative;
    width: 200px;
    height: 267px;
    float: left;
    margin: 0 18px 15px 0;
    list-style: none;
}
.group a{
    background: #fff;
    border: 2px solid #CDCDCD;
    border-radius: 10px;
    display: block;
    padding: 10px 10px 0;
    color: #000;
    text-align: center;
    
}
.group a:hover, .group a:focus{
    border: 2px solid #C30008;
}
.group p{
    height: 42px;
    overflow: hidden;
    text-align: center;
}
.group .new-good{
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
    height: 100px;
    background: url(/images/new-good.png) no-repeat;
}
.group .price{
    position: absolute;
    right: 10px;
    top: 180px;
    background: #F32;
    color: #fff;
    font-family: Georgia;
    padding: 2px 5px;
    border-radius: 5px;
}
.group .price:before{
    content: "￥";
}
.pagination{
    margin: 5px 0 0 22px;
}
.total-size{
    float: right;
    line-height: 34px;
    padding-right: 80px;
}
.page{
    height: 50px;
    margin: 10px 0 0;
    text-align: center;
    background: -webkit-linear-gradient(left, #F2F2F2, #444, #F2F2F2);   
    background:    -moz-linear-gradient(left, #F2F2F2, #444, #F2F2F2);   
    background:     -ms-linear-gradient(left, #F2F2F2, #444, #F2F2F2);   
    background:      -o-linear-gradient(left, #F2F2F2, #444, #F2F2F2);   
    background:         linear-gradient(left, #F2F2F2, #444, #F2F2F2);
    background: url(/images/page-bg.png) repeat-y\9;
    *background:url(/images/page-bg.png) repeat-y;
}
.page .preview{
    width: 30px;
    height: 50px;
    margin: 0 5px 0 0;
    border-left: 1px solid #999999;
    border-right: 1px solid #999999;
    cursor: pointer;
}
.page .active{
    border-left: 1px solid #999900;
    border-right: 1px solid #999900;
    background: #fff;
}
.hidden{
    display: none;
}


.good-img{
    width: 400px;
    margin: 0 100px 0 0;
    float: left;
}
.good-big-img{
    text-align: center;
}
.good-big-img img{
    border: 1px solid #bbb;
}
.good-img-list{
    height: 50px;
    text-align: center;
    background: -webkit-linear-gradient(left, #F2F2F2, #444, #F2F2F2);   
    background:    -moz-linear-gradient(left, #F2F2F2, #444, #F2F2F2);   
    background:     -ms-linear-gradient(left, #F2F2F2, #444, #F2F2F2);   
    background:      -o-linear-gradient(left, #F2F2F2, #444, #F2F2F2);   
    background:         linear-gradient(left, #F2F2F2, #444, #F2F2F2);
    background: url(/images/page-bg.png) repeat-y\9;
    *background:url(/images/page-bg.png) repeat-y;
}
.good-img-list img{
    width: 30px;
    height: 50px;
    margin: 0 5px 0 0;
    border-left: 1px solid #999999;
    border-right: 1px solid #999999;
    cursor: pointer;
}
.good-info{
    width: 400px;
    height: 320px;
    float: left;
}
.good-desc-wrapper{
    max-width: 900px;
    margin: 10px 0 40px;
}
.good-desc{
    max-width: 900px;
    border: 2px solid #ccc;
    text-align: center;
}
.good-desc p{
    text-align: center;
}
.red {
    color: #b00;
}

.our-shop{
    float: left;
    text-align: center;
}
.our-shop img{
    border: 2px solid #333;
    
}
.our-shop p{
    margin-top: 10px;
    text-align: center;
}
.address{
    float: left;
    margin-left: 50px;
}
.to-top{
    position: fixed; 
    bottom: 100px; 
    right: 100px; 
    width: 1.2em; 
    z-index: 9999; 
    text-align: center; 
    background: #000; 
    color: #fff; 
    font-size: 19px; 
    outline: none; 
    line-height: 1.2em; 
    border-radius: 4px;
}

/*html5*/
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{
    display: block;
}